<h2>Registro</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <label for="name">Nombre</label>
  <input id="name" name="name" formControlName="name" placeholder="Tu nombre" />

  <label for="email">Email</label>
  <input id="email" name="email"  type="email" formControlName="email" placeholder="tu@email.com" />

  <label for="password">Contraseña</label>
  <input id="password" name="password" type="password" formControlName="password" placeholder="Mínimo 8 caracteres" />

  <label for="confirm">Confirmar contraseña</label>
  <input id="confirm" name="confirm" type="password" formControlName="confirm" placeholder="Repite tu contraseña" />

  <label for="birthdate">Fecha de nacimiento</label>
  <input id="birthdate" name="birthdate" type="date" formControlName="birthdate" />

  <button [disabled]="loading || form.invalid" type="submit">
    {{ loading ? 'Creando…' : 'Crear cuenta' }}
  </button>

  <p class="error" *ngIf="error">{{ error }}</p>
</form>

<div class="links">
  <a routerLink="/auth/login">Ya tengo cuenta</a>
</div>
