@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  background: #f8f9fa;
  color: #111;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Header */
.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

.brand {
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0.5px;
}

.auth-nav {
  
  &-mobile {
    padding: 1rem 1.5rem;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;

    @include respond(md) {
      display: none;
    }

    &--user {
      // background-image: url('../../../../../public/auth/user-svgrepo-com.svg');
    }
  }

  &-desk {
    display: none;

    @include respond(md) {
      display: inline-block;
    }
  }
}

.auth-nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
}

.auth-nav a.active {
  color: #111;
  border-bottom: 2px solid #111;
}

/* Main */
.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}
