/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #f8f9fa;
    color: #111;
    line-height: 1.5;
    box-sizing: inherit;
}

// Baseline de los componentes de HTML, se agrega el reset general unicamente del tag de HTML
